html, body {
	height: 800px;
	width: 650px;
}


.left {
	height:800px;
	width:33%;
	background-color: #81ea9d;
	float: left;
}
.middle {
	height: 800px;
	width: 34%;
	background-color: #b1fdc6;
	float: left;
}

.right {
	height: 600px;
	width: 33%;
	background-color: #c3fbd2;
	float: left;
}

.picture {
	height: 200px;
	width: 33%;
	background-color: red;
	float:bottom;
	float:right;
	color:white;
	text-align:center;
	font-size:25px;
	vertical-align:middle;
	line-height:200px;
}

